# r stuff
.Rproj.user
.Rhistory
.RData

# temp files
.swp
.swo

# folder view configuration files
.DS_Store
Desktop.ini

# thumbnail cache files
._*
Thumbs.db

# files that might appear on external disks
.Spotlight-V100
.Trashes
